@import "variables";

.skills-item__link{
    display: block;
    text-align: center;

    &:hover{
        .skills-item__achievement__img{
            transform: scale(2)
        }
    }
}

// QUARTERS
$quartersWrapper    : 7em;
$quarterSize        : 3.4em;
$quarterThick       : 0.8em;
$quarterColor       : $c-bodyFront;
$quarterBackColor   : $c-bodyMiddle;

.skills-item__achievement{
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $quartersWrapper; height: $quartersWrapper;
    margin: 0 auto;
    box-shadow: 0 0 14rem $c-bodyBackDark;
    border-radius: 50%;
}

.skills-item__achievement__img{
    position: relative; z-index: 1;
    display: block;
    width: 40%; height: auto;
    margin: 0 auto;
    transition: transform $transQuick ease;
}

@include classPrefix("skills-item__achievement__q"){
    position: absolute; z-index: 0;
    box-sizing: border-box;
    width: $quarterSize; height: $quarterSize;
    border: $quarterThick solid $quarterColor;
    background-color: $quarterBackColor;

    &.disabled{
        border-color: transparent;
    }
}

.skills-item__achievement__q1{
    top: 0; left: 0;
    border-radius: 100% 0 0 0;
    border-right: 0;
    border-bottom: 0;
}

.skills-item__achievement__q2{
    bottom: 0; left: 0;
    border-radius: 0 0 0 100%;
    border-right: 0;
    border-top: 0;
}

.skills-item__achievement__q3{
    bottom: 0; right: 0;
    border-radius: 0 0 100% 0;
    border-left: 0;
    border-top: 0;
}

.skills-item__achievement__q4{
    top: 0; right: 0;
    border-radius: 0 100% 0 0;
    border-left: 0;
    border-bottom: 0;
}