@import "variables";

.skills-item__link{
    display: flex;
    align-items: center;
}

.skills-item__img{
    display: block;
    width: 100%; max-width: 8rem;
    height: auto;

    @media ($sz-sm){
        max-width: 10rem;
    }
}

.skills-item__img--wrapper{
    flex-grow: 0;
    flex-shrink: 1;
}

.skills-item__desc{
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 2rem;
}

.skills-item__achievement{
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border: 2px solid $c-border;
}

.skills-item__achievement__bar{
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 100%;
    background-color: $c-bodyFront;
}

.skills-item__achievement__val{
    position: relative;
    display: block;
}