<section class="technical-environment">
  <h1>Technical environment</h1>
  <ul class="technical-environment__list">
    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://code.visualstudio.com/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-vscode.png" alt="">
        <span class="technical-environment__name">VS Code</span>
      </a>
    </li>
    
    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://www.jetbrains.com/webstorm/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-webstorm.png" alt="">
        <span class="technical-environment__name">Webstorm</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://gulpjs.com/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-gulp.png" alt="">
        <span class="technical-environment__name">Gulp</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://git-scm.com/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-git.png" alt="">
        <span class="technical-environment__name">GIT</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://github.com/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-github.png" alt="">
        <span class="technical-environment__name">GitHub</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://www.atlassian.com/software/jira" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-jira.png" alt="">
        <span class="technical-environment__name">Jira</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://litmus.com/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-litmus.png" alt="">
        <span class="technical-environment__name">litmus</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://www.adobe.com/products/photoshop.html" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-photoshop.png" alt="">
        <span class="technical-environment__name">Photoshop</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://www.microsoft.com/en-ca/software-download/windows10" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-windows10.png" alt="">
        <span class="technical-environment__name">Windows 10</span>
      </a>
    </li>

    <li class="technical-environment__list__block">
      <a class="technical-environment__link" href="https://www.apple.com/macos/high-sierra/" target="_blank">
        <img class="technical-environment__img" src="assets/img/logo-techenv-osx.png" alt="">
        <span class="technical-environment__name">Mac OSX</span>
      </a>
    </li>
  </ul>
</section>