.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
}

.intro__content{
    width: 90%;
    max-width: 40rem;
}