@import "variables";

.skills{
    text-align: center;
}

.skills__info{
    position: relative;
    display: inline-block;
    margin-bottom: 4rem;
}

.skills__info__label{
    $lineLength: 4em;
    $lineThick: 2px;
    $lineColor: $c-border;

    position: absolute; z-index: 5;
    width: $lineLength;
    border-bottom: $lineThick solid $lineColor;
    text-align: left;

    &:after{
        display: block;
        position: absolute;
        width: 1em; height: $lineThick;
        background-color: $lineColor;
        content: '';
    }
    &:nth-of-type(1){
        bottom: 8.4em; left: -4em;

        &:after{
            bottom: -0.4em; right: -0.8em;
            transform: rotate(45deg);
        }
    }
    &:nth-of-type(2){
        bottom: 0.1em; left: -4em;

        &:after{
            bottom: 0.2em; right: -0.8em;
            transform: rotate(-45deg);
        }
    }
    &:nth-of-type(3){
        bottom: 0.1em; right: -4em;
        text-align: right;

        &:after{
            bottom: 0.2em; left: -0.8em;
            transform: rotate(45deg);
        }
    }
    &:nth-of-type(4){
        bottom: 8.4em; right: -4em;
        text-align: right;

        &:after{
            bottom: -0.4em; left: -0.8em;
            transform: rotate(-45deg);
        }
    }
}

.skills__skills-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills__skills-item-wrapper__block{
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    @media ($sz-xs) {
        flex-basis: calc(100% / 2);
    }
    @media ($sz-sm) {
        flex-basis: calc(100% / 3);
    }
    @media ($sz-lg) {
        flex-basis: calc(100% / 4);
    }
}

.skills__total-wrapper{
    &:hover{
        .skills__total{
            transform: scale(1, 1);
        }
        
        .skills__total__item__img{
            transform: scale(1, 1);
        }
    }
}

.skills__total--title{
    margin-bottom: 0;
    text-align: center;
}

.skills__total{
    display: flex;
    transition: transform $transQuick ease;
    transform: scale(1, 0.1);
}

.skills__total__item{
    // skills : 1 = xp from skills.component.html
    $skills: (
        1: (1: 1, 2: #e44d26), 
        2: (1: 1, 2: #006fb6), 
        3: (1: 1, 2: #cd689a), 
        4: (1: 0.75, 2: #193556), 
        5: (1: 0.50, 2: #e9ca32), 
        6: (1: 0.25, 2: #dd0031)
    );

    $divider: 0;    

    @each $key, $val in $skills {
        $divider: $divider + map-get($val, 1);
    }

    @each $key, $val in $skills {
        &:nth-of-type(#{$key}){
            width: calc(#{percentage(map-get($val, 1))}  / #{$divider});
            background-color: map-get($val, 2);  
        }
    }

    flex-shrink: 0;
    flex-grow: 0;
}

.skills__total__item__img{
    display: block;
    width: 100%; max-width: 2rem;
    height: auto;
    margin: 0.5rem auto;
    transition: transform $transSlow ease;
    transform: scale(0, 0);

    @media ($sz-xs) {
        max-width: 3rem;
    }
    @media ($sz-sm) {
        max-width: 4rem;
    }
}