@import "variables";

.skills__skills-item-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.skills__skills-item-wrapper__block{
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    @media ($sz-sm) {
        flex-basis: calc(100% / 2);
    }
    @media ($sz-xl) {
        flex-basis: calc(100% / 3);
    }
}

.skills__total{
    display: flex;
}

.skills__total__item{
    $skills: (
        1: (1: 0.9, 2: blue), 
        2: (1: 0.99, 2: red), 
        3: (1: 0.9, 2: pink), 
        4: (1: 0.8, 2: darkblue), 
        5: (1: 0.7, 2: green), 
        6: (1: 0.3, 2: orange)
    );

    $divider: 0;

    @each $key, $val in $skills {
        $divider: $divider + map-get($val, 1);
    }

    @each $key, $val in $skills {
        &:nth-of-type(#{$key}){
            width: calc(#{percentage(map-get($val, 1))}  / #{$divider});
            background-color: map-get($val, 2);  
        }
    }

    flex-shrink: 0;
    flex-grow: 0;
    height: 2rem;
}