<section class="skills">
  <h1>Skills achievement</h1>

  <div class="skills__skills-item-wrapper">
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [label]="'HTML5'" [xp]="90" [color]="'#e44d26'"></app-skills-item>
    </div>
    
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [label]="'CSS3'" [xp]="99" [color]="'#006fb6'"></app-skills-item>
    </div>
    
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [label]="'SASS'" [xp]="90" [color]="'#cd689a'"></app-skills-item>
    </div>
    
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [label]="'JQUERY'" [xp]="80" [color]="'#193556'"></app-skills-item>
    </div>
    
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [label]="'JS'" [xp]="70" [color]="'#e9ca32'"></app-skills-item>
    </div>
    
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [label]="'ANGULAR 5'" [xp]="30" [color]="'#dd0031'"></app-skills-item>
    </div>
  </div>

  <h2>Skills distribution</h2>

  <div class="skills__total">
    <div class="skills__total__item"></div>
    <div class="skills__total__item"></div>
    <div class="skills__total__item"></div>
    <div class="skills__total__item"></div>
    <div class="skills__total__item"></div>
    <div class="skills__total__item"></div>
  </div>
</section>