@import "variables";

.skills__skills-item-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.skills__skills-item-wrapper__block{
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    @media ($sz-sm) {
        flex-basis: calc(100% / 2);
    }
    @media ($sz-xl) {
        flex-basis: calc(100% / 3);
    }
}

.skills__total{
    display: flex;
}

.skills__total__item{
    // skills : 1 = xp from skills.component.html
    $skills: (
        1: (1: 0.90, 2: #e44d26), 
        2: (1: 0.99, 2: #006fb6), 
        3: (1: 0.90, 2: #cd689a), 
        4: (1: 0.80, 2: #193556), 
        5: (1: 0.70, 2: #e9ca32), 
        6: (1: 0.30, 2: #dd0031)
    );

    $divider: 0;

    @each $key, $val in $skills {
        $divider: $divider + map-get($val, 1);
    }

    @each $key, $val in $skills {
        &:nth-of-type(#{$key}){
            width: calc(#{percentage(map-get($val, 1))}  / #{$divider});
            background-color: map-get($val, 2);  
        }
    }

    flex-shrink: 0;
    flex-grow: 0;
    height: 2rem;
}