<section class="skills">
  <h1>Skills achievement</h1>

  <div class="skills__skills-item-wrapper">
    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [srcUrl]="'https://www.w3.org/standards/webdesign/htmlcss.html'" [imgName]="'logo-skill-html5.png'" [label]="'HTML5'"
        [xp]="4" [color]="'#e44d26'">
      </app-skills-item>
    </div>

    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [srcUrl]="'https://www.w3.org/standards/webdesign/htmlcss.html'" [imgName]="'logo-skill-css3.png'" [label]="'CSS3'"
        [xp]="4" [color]="'#006fb6'">
      </app-skills-item>
    </div>

    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [srcUrl]="'https://sass-lang.com/'" [imgName]="'logo-skill-sass.png'" [label]="'SASS'" [xp]="4" [color]="'#cd689a'">
      </app-skills-item>
    </div>

    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [srcUrl]="'https://jquery.com/'" [imgName]="'logo-skill-jquery.png'" [label]="'JQUERY'" [xp]="3" [color]="'#193556'">
      </app-skills-item>
    </div>

    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [srcUrl]="'https://www.w3.org/standards/webdesign/script.html'" [imgName]="'logo-skill-js.png'" [label]="'JS'"
        [xp]="2" [color]="'#e9ca32'">
      </app-skills-item>
    </div>

    <div class="skills__skills-item-wrapper__block">
      <app-skills-item [srcUrl]="'https://angular.io/'" [imgName]="'logo-skill-angular.png'" [label]="'ANGULAR 5'" [xp]="1" [color]="'#dd0031'">
      </app-skills-item>
    </div>
  </div>

  <div class="skills__total-wrapper">
    <h2 class="skills__total--title">Skills distribution</h2>

    <div class="skills__total">
      <div class="skills__total__item">
        <img class="skills__total__item__img" src="assets/img/logo-skill-white-html5.png" alt="HTML5">
      </div>

      <div class="skills__total__item">
        <img class="skills__total__item__img" src="assets/img/logo-skill-white-css3.png" alt="CSS3">
      </div>

      <div class="skills__total__item">
        <img class="skills__total__item__img" src="assets/img/logo-skill-white-sass.png" alt="SASS">
      </div>

      <div class="skills__total__item">
        <img class="skills__total__item__img" src="assets/img/logo-skill-white-jquery.png" alt="JQUERY">
      </div>

      <div class="skills__total__item">
        <img class="skills__total__item__img" src="assets/img/logo-skill-white-js.png" alt="JS">
      </div>

      <div class="skills__total__item">
        <img class="skills__total__item__img" src="assets/img/logo-skill-white-angular.png" alt="ANGULAR 5">
      </div>
    </div>
  </div>
</section>