@import "variables";

.work-experience-item{
    box-sizing: border-box;
    max-width: 50rem; height: 100%;
    margin: 0 auto;
    background-color: $c-bodyFront;
    box-shadow: 0 0 11rem -1rem $c-bodyBackDark;
}

.work-experience-item__header{
    position: relative; z-index: 1;
    padding: 2rem;
    background-color: $c-bodyFront
}

.work-experience-item__content{
    padding: 2rem;
    background-color: $c-bodyFront
}

.work-experience-item__link{
    display: flex;
    align-items: center;
}

.work-experience-item__img{
    display: block;
    width: 2rem; height: auto;
}

.work-experience-item__name{
    display: block;
}