@import "variables";

.work-experience-item__header--wrapper{
    display: flex;
    justify-content: space-between;
}

.work-experience-item__link{
    display: flex;
    align-items: center;
}

.work-experience-item__img{
    display: block;
    width: 2rem; height: auto;
}

.work-experience-item__name{
    display: block;
}