@import "variables";

.work-experience-item{
    max-width: 50rem;
    margin: 0 auto; padding: 2rem;
    background-color: $c-bodyFront;
    border: 1em solid $c-bodyMiddle;
}

.work-experience-item__link{
    display: flex;
    align-items: center;
}

.work-experience-item__img{
    display: block;
    width: 2rem; height: auto;
}

.work-experience-item__name{
    display: block;
}