<article class="work-experience-item">
  <header class="work-experience-item__header">
    <h2 class="work-experience-item__title">
      <a class="work-experience-item__link" attr.href="{{ srcUrl }}" target="_blank">
          <img class="work-experience-item__img" src="{{ imgPath }}" alt="{{ company }}">
          <span class="work-experience-item__name">{{ company }}</span>
        </a>
    </h2>

    <h3 class="work-experience-item__sub-title">{{ title }}</h3>

    <aside class="work-experience-item__date">{{ dates }}</aside>
  </header>

  <p class="work-experience-item__content">
    <ng-content></ng-content>
  </p>
</article>