<section class="work-experience">
  <h1>Work experience</h1>

  <div class="work-experience-wrapper">
    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-idiliz.png'" [srcUrl]="'http://www.idiliz.com'" [title]="'Intégrateurweb / UI developer'"
        [company]="'Idiliz'" [dates]="'2017/12 - present'">
        Découpage de maquettes et intégrations de site web. Responsable de l'équipe d'intégration.
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-fabernovelcode.png'" [srcUrl]="'http://code.fabernovel.com/'" [title]="'Intégrateurweb / UI developer'"
        [company]="'Fabernovel Code'" [dates]="'2017/08 - 2017/11'">
        Découpage de maquettes et intégration de site web
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-ooofly.png'" [srcUrl]="'http://ooofly.com'" [title]="'Intégrateurweb / UI developer'"
        [company]="'Ooofly'" [dates]="'2016/01 - 2017/07'">
        Découpage de maquettes et intégrations de site web. Responsable de l'équipe d'intégration.
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-bazarchic.png'" [srcUrl]="'http://fr.bazarchic.com'" [title]="'Intégrateurweb / UI developer'"
        [company]="'BazarChic'" [dates]="'2015/04 - 2017/07'">
        Découpage de maquettes et intégrations de site web. Responsable de l'équipe d'intégration.
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-idiliz.png'" [srcUrl]="'http://www.idiliz.com'" [title]="'Intégrateurweb / UI developer'"
        [company]="'Idiliz'" [dates]="'2015/04 - 2017/07'">
        Découpage de maquettes et intégrations de site web. Responsable de l'équipe d'intégration.
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-shivacom.png'" [srcUrl]="'http://www.shivacom.fr/'" [title]="'Intégrateurweb / UI developer'"
        [company]="'Shiva Communication'" [dates]="'2015/01 - 2015/03'">
        Découpage de maquettes et intégrations de site web.
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-bnp.png'" [srcUrl]="'http://'" [title]="'Intégrateurweb / UI developer'"
        [company]="'BNP Paribas'" [dates]="'2014/11 - 2015/02'">
        Découpage de maquettes et intégration de site web
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-weka.png'" [srcUrl]="'http://'" [title]="'Intégrateurweb / UI developer'"
        [company]="'WEKA'" [dates]="'2014/09 - 2014/10'">
        Découpage de maquettes et intégration de site web
      </app-work-experience-item>
    </div>

    <div class="work-experience-wrapper__block">
      <app-work-experience-item [imgName]="'logo-company-kalidea.png'" [srcUrl]="'http://'" [title]="'Développeur Web'" [company]="'Kalidea Pulse'"
        [dates]="'2012/08 - 2014/08'">
        Découpage de maquettes et intégrations de site web. Développement PHP procédural.
      </app-work-experience-item>
    </div>
  </div>
</section>