<section class="work-experience">
  <h1>Work experience</h1>

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'Fabernovel Code'"
  [dates]="'2017/08 - present'">
    Découpage de maquettes et intégration de site web
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'Ooofly'"
  [dates]="'2016/01 - 2017/07'">
    Découpage de maquettes et intégrations de site web.
    Responsable de l'équipe d'intégration.
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'BazarChic'"
  [dates]="'2015/04 - 2017/07'">
    Découpage de maquettes et intégrations de site web.
    Responsable de l'équipe d'intégration.
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'Idiliz'"
  [dates]="'2015/04 - 2017/07'">
    Découpage de maquettes et intégrations de site web.
    Responsable de l'équipe d'intégration.
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'Shiva Communication'"
  [dates]="'2015/01 - 2015/03'">
    Découpage de maquettes et intégrations de site web.
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'BNP Paribas'"
  [dates]="'2014/11 - 2015/02'">
    Découpage de maquettes et intégration de site web
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Intégrateurweb / UI developer'"
  [company]="'WEKA'"
  [dates]="'2014/09 - 2014/10'">
    Découpage de maquettes et intégration de site web
  </app-work-experience-item>  

  <app-work-experience-item
  [title]="'Développeur Web'"
  [company]="'Kalidea Pulse'"
  [dates]="'2012/08 - 2014/08'">
    Découpage de maquettes et intégrations de site web.
    Développement PHP procédural.
  </app-work-experience-item>  
</section>