// COLORS --- //
// color list
$cl-white         : #ffffff;
$cl-black         : #000000;
$cl-blackLight    : #333333;
$cl-grey          : #666666;
$cl-blueLight     : #8ea7d6;

// color assignment
$c-fontPrimary    : $cl-white;

$c-border         : $cl-grey;

$c-bodyFront      : $cl-blueLight;
$c-bodyBack       : $cl-blackLight;
// --- COLORS //

// SCREEN SIZES --- //
// sizes list
$szl-xs           : 576px;
$szl-sm           : 768px;
$szl-lg           : 992px;
$szl-xl           : 1200px;

// sizes assignment
$sz-xs            : "min-width: " + $szl-xs;
$sz-sm            : "min-width: " + $szl-sm;
$sz-lg            : "min-width: " + $szl-lg;
$sz-xl            : "min-width: " + $szl-xl;
$sz-mxs           : "max-width: " + $szl-xs;
$sz-msm           : "max-width: " + $szl-sm;
$sz-mlg           : "max-width: " + $szl-lg;
$sz-mxl           : "max-width: " + $szl-xl;
// --- SCREEN SIZES //