// COLORS --- //
// color list
$cl-white         : #ffffff;
$cl-black         : #000000;
$cl-grey          : #666666;
$cl-blueLight     : #8ea7d6;

// color assignment
$c-fontPrimary    : $cl-white;

$c-border         : $cl-grey;

$c-bodyFront      : $cl-blueLight;
$c-bodyBack       : $cl-black;
// --- COLORS //