@import "variables";

html,body{
    position: relative;
    box-sizing: border-box;
    width: 100%; height: 100%;
    font-size: 10px;    
}
body{
    background-color: $c-bodyBack;
    background-image: url("assets/img/illu-intro.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-weight: $fontLight;
    letter-spacing: 0.1rem;
    color: $c-fontPrimary;

    &:before{
        display: block;
        position: fixed; z-index: -1;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("assets/img/texture6.png");
        content: '';
    }
}

.section-wrapper{
    box-sizing: border-box;
    padding: 1rem;
    background-color: $c-bodyBack;
    box-shadow: inset 0 1rem 14rem -4rem $c-bodyBackDark;

    &:nth-child(odd){
        background-color: $c-bodyMiddle;
    }
}

section{
    margin: 0 auto;
    font-size: 1.2rem;

    @media ($sz-xs) {
        font-size: 1.6rem;
    }
    @media ($sz-xl) {
        max-width: 140rem;
    }
}

a{
    text-decoration: none;
    color: $c-link;

    &:hover{
        text-decoration: underline;
    }
}

h1, h2, h3{
    font-weight: $fontBold;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    color: $c-fontTitle;
}

h1{
    text-align: center;
    text-transform: uppercase;
}